@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}

.container{
    display: flex;
    width: 100%;
    padding: 0 20px;
}

.slide{
    position: relative;
    height: 80vh;
    flex: 1;
    margin: 10px;
    border-radius: 20px;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.slide h3{
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.slide.active {
    flex: 10;  
    cursor: auto;
}

.slide.active h3{
    opacity: 1;
    transition: .3s opacity ease-in .4s;
}